* {
    box-sizing: border-box;
}

.frame {
    width: 450px;
    height: 600px;
    border-style: solid;
    border-width: 10px;
}

.result {
    height: 70px;
}

.buttons {
    display: flex;
}

.numbers {
    width: 75%;
}

.operations {
    width: 25%;
}

.operations button{
    height: 70px;
}

.numbers button {
    width: 32%;
    height: 70px;
}

.number.zero {
    width: 65%;
}

.operations {
    display: flex;
    flex-direction: column;
}